/* Write your CSS here! */

body {
    background-color: #ffffff;
  }

  /* #e8f5ef */

hr.solid {
    color:#92ccb3;
    center;
  }

h1{
    color: #116641;
    font-size: 36px;
    text-align: center;
}

#introP{
  font-size: 20px;
  text-align: center
}

h2 {
  color: #116641 ;
}

h3 {
  color:#218e5f
}

#mainHeading{
  color:rgb(24, 162, 142);
}
