/* Write your CSS here! */

body {
    background-color: #e8efee;
  }

  /* #e8f5ef */

hr.solid {
    color:#92ccb3;
  }

h1{
    color: #116641;
    font-family: Optima;
    font-size: 36px;
    text-align: center;
}

#Intro {
  font-family: Optima;
  font-size: 36px;
  text-align: center;
}

#mainHeading{
  color:rgb(24, 162, 142);
  font-family: Optima;
  font-size: 50px;
  text-align: center;
  margin-left: 70px;
}

#introP{
  font-size: 20px;
  text-align: center;
}

h2 {
  color: #116641;
  font-family: Optima;
  margin-left: 50px;
}

h3 {
  color:#218e5f;
  font-family: Optima;
  margin-left: 50px;
}

img{
  margin-left: 50px
}

p {
  font-family: Optima;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 70px;
}

li {
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 90px;
}

/* .main{
  position:absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
column-gap: 10px;
row-gap: 10px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
} */