/* Write your CSS here! */

body {
    background-color: red;
  }

/* hr.solid {
    color:#92ccb3;
  }

#Intro {
    color: #187D51;
 }

#Past-title {
    color: #187D51;
 }

#Present-title {
    color: #187D51;
 }

#Future {
    color: #187D51;
 } */