/* Write your CSS here!

body {
    background-color: #e8efee;
    margin: 8px;
  }

  /* #e8f5ef */

/* hr.solid {
    color:#92ccb3;
  }

h1{
    color: #116641;
    font-family: Optima;
    font-size: 36px;
    text-align: center;
}

#Intro {
  font-family: Optima;
  font-size: 36px;
  text-align: center;
}

#mainHeading{
  color:red;
  font-family: Optima;
  font-size: 50px;
  text-align: center;
  margin-left: 70px;
}

#introP{
  font-size: 20px;
  text-align: center;
}

h2 {
  color: #116641;
  font-family: Optima;
  margin-left: 50px;
}

h3 {
  color:#218e5f;
  font-family: Optima;
  margin-left: 50px;
}

img{
  margin-left: 50px
}

p {
  font-family: Optima;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 70px;
}

#testP{
  color: red
}

.funParagraph{
  color: green;
}

li {
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 90px;
}  */





body {
    margin: 8px;
    display: block; 
    padding: 10px;
    background-color: #e8efee;
}

hr.solid {
    color:#92ccb3;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
    
}

h3 {
    color: blue;
}

p {
    font-family: Optima;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 70px;
  }

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}